<div id="footer">
  <div class='row'>
    <h3>Certificate Transparency</h3>
    <ul class="footer-menu">
      <li><a href='{{ "/howctworks" | relURL}}'>How CT works</a></li>
      <li><a href='{{ "/community" | relURL}}'>Our story</a></li>
    </ul>
  </div>
  <div class="row rev">
    <ul class='footer-menu'>
      <li>
        <ul>
          <li><a href='{{ "/logs" | relURL}}'>Logs</a></li>
          <li><a href='{{ "/monitors" | relURL}}'>Monitors</a></li>
          <li><a href='{{ "/useragents" | relURL}}'>User agents</a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><a href="{{ .Site.Params.githubUrl }}">GitHub</a></li>
          <li><a href="{{ .Site.Params.googlegroup}}">Google Group</a></li>
        </ul>
      </li>
    </ul>
    <div class='tag'>
      <span>
        Started by engineers at Google,<br>
        <strong>for the internet.</strong>
      </span>
    </div>
  </div>
</div>
