{{ define "main" }}
  <section>
    <div class='wrap-outer noscroll'>
      <div class='wrap'>
        <div class="illustrated-head">
          <object title="Page not found" style="margin-top: 25px;" class="fourohfour svg-obj sm" data-animate-svg-selector=".anim" data-animated-stroke-width="2px" type="image/svg+xml" data="img/fourohfour-small.svg"></object>
          <object title="Page not found" style="margin-top: 25px;" class="fourohfour svg-obj md" data-animate-svg-selector=".anim" data-animated-stroke-width="2px" type="image/svg+xml" data="img/fourohfour.svg"></object>
          <div class='page-heading half'>
            <div class='prehead'>Page not found</div>
            <h1>These are not the logs you're looking for</h1>
      
            <div class='details'>
              <p>Certificate Transparency works thanks to the ecosystem of people and organizations who set up and run logs and monitors.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <include src="./template/partial/bigfooter.html"></include>
{{ end }}