@mixin responsive-wrapper {
  @include md {
    margin-left: auto;
    margin-right: auto;
    max-width: 733px;
  }

  @include lg {
    max-width: 979px;
  }
}

@mixin placeholder {
  width: 100%;
  background: pink;
}

section {
  &.alt {
    background: $col-tintblue;
  }
}

h2.middle {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin: 2rem auto 4rem;
  letter-spacing: -0.035em;
  @include md {
    width: 75%;
  }
}

span.clear {
  display: block;
  clear: both;
}

#page-container {
  min-height: 100vh;
  position: relative;
}

#content-container {
  // padding-bottom: 6rem;
}