{{ $stepbyBundle := .Site.GetPage "/stepbystep" }}
{{ $steps := $stepbyBundle.Resources.Match "*.md" }}
<ol>
  {{ range $index, $step := $steps}}
  <li data-margin-top-md="{{ .Params.marginTopMd }}" data-margin-top-lg="{{ .Params.marginTop }}">
    <div class='illustration'>
      <object title="{{.Title}}" data-animate-svg-selector=".anim" class='svg-obj' data-animated-stroke-width="1px"
        type="image/svg+xml" data="img/stepby/{{ add $index 1 }}.svg"></object>
    </div>
    <div class='arm-and-description'>
      <div class='arm'>
      </div>
      <div class='index'>{{ add $index 1 }}</div>
      <div {{if .Params.overflowAt}}data-overflow-at='{{.Params.overflowAt}}' {{end}}class='description'>
        <h3>{{.Title}}</h3>
        <div class='body'>
          {{.Content}}
        </div>
      </div>
    </div>
  </li>
  {{ end }}
</ol>